.benefit {
  background-color: #02021d;
}

.percayakan {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 700 24px/1.12 "Poppins", sans-serif;
  text-align: center;
  margin: 0;
  padding: 50px 20px;
  color: #e4d49b;
}
.benefitImg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefitImg img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.headlineBenefit{
    padding-top: 50px;
    text-align: center;
    color: white;
    font: 700 24px/1.12 "Poppins", sans-serif;
}

.descBenefit {
    text-align: center;
    color: white;
    font: 400 18px/1.12 "Poppins", sans-serif;
    padding: 30px;
    padding-top: 20px;
    opacity: 0.6;
}

/* Aturan CSS untuk tampilan pada PC */
@media only screen and (min-width: 1024px) {
.percayakan {
  font: 700 50px/1.12 "Poppins", sans-serif;
  margin-top: 100px;
  margin-bottom: 100px;
}
.benefitImg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefitImg img {
  width: 70%;
  height: 70%;
}

.headlineBenefit{
  margin-top: 50px;
    font: 700 50px/1.12 "Poppins", sans-serif;
}

.descBenefit {
    text-align: center;
    color: white;
    font: 400 30px/1.12 "Poppins", sans-serif;
    padding: 200px;
    padding-top: 20px;
    opacity: 0.6;
}

}

/* Aturan CSS untuk tampilan pada tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 16px;
    /* Tambahkan aturan CSS lainnya untuk tampilan pada tablet di sini */
  }
}
